@use '../utilities' as *;

.button {
  cursor: pointer;
  border: 1px solid var(--clr-prl-500);
  background-color: var(--clr-neutral-100);
  padding: toRem(12) toRem(24);
  border-radius: toRem(9);
  font-size: var(--fs-200);
  font-family: var(--font-bold);
  color: var(--clr-prl-500);
  transition: all 0.3s;

  &:hover {
    background-color: var(--clr-prl-300);
  }

  &:focus {
    outline: 1px solid var(--clr-prl-500);
  }

  &--submit {
    border: 0;
    color: var(--clr-neutral-100);
    width: 100%;
    background-color: var(--clr-prl-500);

    &:hover {
      box-shadow: 0 0 25px var(--clr-prl-400);
      background-color: var(--clr-prl-500);
    }

    &:focus {
      box-shadow: 0 0 25px var(--clr-prl-400);
      background-color: var(--clr-prl-500);
      outline: 0;
    }
  }

  &--rotate {
    &-org {
      background-color: var(--clr-org-400);
      border: 1px solid var(--clr-org-400);

      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--clr-org-400);
        background-color: var(--clr-org-400);
        color: var(--clr-neutral-100);
        outline: 1px solid var(--clr-org-400);
      }
    }

    &-blue {
      background-color: var(--clr-ble-400);
      border: 1px solid var(--clr-ble-400);

      &:hover,
      &:focus {
        box-shadow: 0 0 10px var(--clr-ble-400);
        background-color: var(--clr-ble-400);
        color: var(--clr-neutral-100);
        outline: 1px solid var(--clr-ble-400);
      }
    }
  }

  &__icon {
    height: toRem(24);
    width: toRem(24);
    fill: var(--clr-neutral-100);
  }
}
